

<div class="divTop background">
	<div class="divTop filter" style="text-align: center;">
		<div class="center childDiv">
			<h1 style="font-size: 10vw; margin:0;">Marcus Cantu</h1>
			<p style="font-size: 1.75vw">
				<!-- My name is Marcus Cantu. I am a Software Engineer and a Student. 
				I attend the University of Wyoming for Computer Science and am graduating May 2020. My hobbies include
				working on projects and going to the gym.  -->
				Software Engineer
			</p>
			<button mat-button class="secondaryButton" (click)="triggerClick()" style="width:50%; opacity: 1;">Explore</button>
		</div>
	</div>
</div>

<div #aboutMe class="background2" style="height: 100%;">
	<div class="filter2">
			<app-about-me></app-about-me>
	</div>
</div>

<div #experience class="background3" style="height: 100%;">
	<div class="filter2">
		<app-work-experience></app-work-experience>
	</div>
</div>


<div #projects style="height: 100%;">
	<app-projects></app-projects>
</div>
