

<div class="divTop background">
        <div class="divTop filter" style="text-align: center;">
                <div class="center" style="opacity: 1;">
                        <h1 style="font-size: 150px; margin:0;">Marcus Cantu</h1>
                        <button mat-button class="mat-stroked-button " (click)="triggerClick()" style="width:50%;">Explore</button>
                </div>
        </div>
</div>

<div #aboutMe style="height: 100%;">
        <app-about-me></app-about-me>
</div>

<div #experience style="height: 100%; margin-top: 10px;">
        <app-work-experience></app-work-experience>
</div>


<div #projects style="height: 100%; margin-top: 10px;">
        <app-projects></app-projects>
</div>