<div style="margin-left: 10%; margin-right: 10%;">
    <h1 class="sectionHeader" style="margin: 0;">About Me</h1>
</div>
<div class="aboutWrapper">
    <img class="roundedImg" style="height: 200px; width: 200px" src="https://imgur.com/YMhmkY2.png">
    <figcaption style="color: white; font-size: 20px; padding: 10px;">
            I currently reside in Laramie, Wyoming and am
            working towards my Bachelors degree in Computer Science at the <a class="externalLink" href="http://www.uwyo.edu/">University of Wyoming</a>. 
            My graduation date is projected for May 2020. At the moment, my strongest skill set is Full Stack
            development, most specifically, Angular, NodeJS, and Firebase. I am extremely interested in Quantitative 
            Finance, Aerospace and Medical Software. I look forward to collaborating with a team that shares
            my same passion for the future of science and technology. 
    </figcaption>
</div>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div>
        <p style="color: white; font-size: 20px; text-align: center; margin: 0; display: block;">Here are some highlighted skills:</p>
    </div>
    <div class="skillsListWrapper">
            <ul class="skillsList">
                <li class="skills" *ngFor="let skill of recentTechnoliges" style="font-size: 15px;">{{skill}}</li>
            </ul>
    </div>
</div>
