<div style="margin-top: 5px;">
    <div class="projectWrapper">
        <div [ngClass]="projectInfo.even ? 'projectContentLeft' : 'projectContentRight'">
            <p style="margin: 0; font-size: 35px;">{{projectInfo.name}}</p>
            <div  [ngClass]="projectInfo.even ? 'projectDescriptionLeft' : 'projectDescriptionRight'">
                {{projectInfo.description}}
            </div>
            <div style="display:flex; justify-content: space-evenly;">
                <span *ngIf="!projectInfo.github">
                    <mat-icon 
                        matTooltip="Code unavailable">
                        block
                    </mat-icon>
                </span>
                <span *ngIf="projectInfo.github">
                    <a [attr.href]="projectInfo.github">
                        <mat-icon 
                            matTooltip="View Code on Github">
                            code
                        </mat-icon>
                    </a>
                </span>
                <a *ngIf="projectInfo.projectLink" [attr.href]="projectInfo.projectLink" >
                    <mat-icon 
                        matTooltip="View project">
                        launch
                    </mat-icon>
                </a>
                <span *ngFor="let technology of projectInfo.technologies">{{technology}}</span>
            </div>
        </div>
        <div [ngClass]="projectInfo.even ? 'projectImageLeft':'projectImageRight' ">
            <div style= "height: 100%;" class="projectImageFilter">
                <a href="">
                    <img class="roundedImage" [src]=projectInfo.image>
                </a>
            </div>
        </div>
    </div>
</div>