<nav class="sticky">
    <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li><a (click)="scrollTo('about')">About</a></li>
                <li><a (click)="scrollTo('experience')">Experience</a></li>
            </ul>
        <a href="#!" class="brand-logo center">MC</a>
        <ul class="left hide-on-med-and-down">
            <li><a (click)="scrollTo('projects')">Projects</a></li>
            <!-- <li><a (click)="scrollTo('experience')">Misc</a></li> -->
        </ul>
    </div>
</nav>
<app-header #header></app-header>
<router-outlet></router-outlet>
