/* :host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
} */
@import url("https://fonts.googleapis.com/css?family=Play|Work+Sans");

html,
body {
  width: 100% !important;
  height: 100% !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.stickyCredentialLeft{
  position: fixed;
  z-index: 1000;
  bottom: 0;
}

.stickyCredentialRight{
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
}

.secondaryButton{
    color: white;
    background-color: #116466 !important; 
    border-radius: 3px;
    font-size: 14px;
    text-transform: none;
    text-align: center;
    min-width: 88px;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
}