<nav class="sticky" *ngIf="showScrollElement">
    <div class="nav-wrapper" style="background-color: #d9b08c">
            <ul class="right hide-on-med-and-down">
                <li><a (click)="scrollTo('about')" class="externalLink" style="color: white;">About</a></li>
                <li><a href="https://i.imgur.com/DjT5JS1.png" target="_blank" class="externalLink" style="color: white;">Resume</a></li>
            </ul>
            <a style="top: 0;"class="brand-logo center">MC</a>
            <ul class="left hide-on-med-and-down">
                <li><a (click)="scrollTo('projects')" class="externalLink" style="color: white;">Projects</a></li>
                <li><a (click)="scrollTo('experience')" class="externalLink" style="color: white;">Experience</a></li>
        </ul>
    </div>
</nav>
<div class="stickyCredentialLeft" *ngIf="showScrollElement">
    <div>
        <a href="https://github.com/Cantum2"><img flex="25" class="socialLink"  src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"></a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/marcus-cantu-a0b569131/"><img flex="25" class="socialLink" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png"></a>
    </div>
    <hr class="verticalBar" />

</div>
<div class="stickyCredentialRight" *ngIf="showScrollElement">
    <a style="color: #FFCB9A; text-decoration: none;" href="mailto: cantumarcus19@gmail.com"><p style="writing-mode: vertical-rl; text-orientation: mixed">cantumarcus19@gmail.com</p></a>
    <hr class="verticalBar" />
</div>
<app-header #header></app-header>
<router-outlet></router-outlet>
