.angular-with-newlines {
    white-space: pre-wrap;
}


.experienceItem{
    display: block;
    width: 100%;
}

.contribution{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 13px;
}

.contribution::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
    font-size: 14px;
    line-height: 12px;
}