/* You can add global styles to this file, and also import other style files */
/* https://visme.co/blog/website-color-schemes/   16*/
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: RCalibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;; 
}

.secondaryButton{
    color: white;
    background-color: #116466 !important; 
    border-radius: 3px;
    font-size: 14px;
    text-transform: none;
    text-align: center;
    min-width: 88px;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
}

.center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.verticalBar {
    width: 5px; 
    height: 100px; 
    background: white; 
    border: none; 
    margin-bottom: 0;
}

.externalLink {
    color: #d9b08c;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.externalLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.externalLink:hover:after {
    width: 100%; 
    left: 0; 
}

.sectionHeader {
    font-size: 70px; 
    margin:0; 
    text-align: center; 
    color: #FFCB9A;
    padding-top: 60px;
    margin-top: -60px;
}
